@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --activeColor: #941BF3;
    --hoverActiveColor: #6028bf;
    --background: #3d3d3d;
    --templatesBackground: #2a2a2a;
    --inputBorder: #718096;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: auto;
    min-height: 80px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--templatesBackground);
}

.header-wrapper {
    width: 100%;
    max-width: 1560px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper > .logo {
    width: auto;
    height: 100%;
    font-size: 42px;
    color: #803ef3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__links {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header__links > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    transition: all 200ms ease-in-out;
}

.header__links > a:hover {
    color: var(--activeColor);
}

main {
    width: 100%;
    min-height: 84vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFFFFF;
}

section {
    position: relative;
    width: 100%;
    max-width: 1560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.poster {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 600px;
    padding: 0;
}

.poster > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 0 200px;
    background: rgba(0, 0, 0, 0.5);
}

.poster__wrapper > h2 {
    width: auto;
    max-width: 600px;
    height: auto;
    font-size: 42px;
}

.poster__wrapper > p {
    max-width: 600px;
    font-size: 24px;
}

.poster__wrapper > a {
    width: auto;
    height: auto;
}

.poster__wrapper > a > button {
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    padding: 8px 20px;
    border: none;
    border-radius: 0.5rem;
    background: var(--activeColor);
}

.poster__wrapper > a > button:hover {
    background: #6028bf;
}

.poster__rating {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.poster__rating > div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.poster__rating > div > img {
    width: auto;
    height: 40px;
}

.poster__rating > div > span {
    font-size: 24px;
}

.slider__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider__head > h2 {
    font-size: 32px;
    padding: 0 100px;
}

.swiper {
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper-wrapper {
    width: 100%;
    max-width: 1440px;
    height: auto;
    gap: 30px;
    padding: 30px 20px;
}

.swiper-slide {
    position: relative;
    width: auto;
    height: 360px;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.swiper-slide:hover {
    transform: scale(1.1, 1.1);
}

.swiper-slide > img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 1rem;
}

.slide-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    border-radius: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.slide-info > a {
    font-size: 20px;
    color: #FFF;
}

.navigation {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > button {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
}

.navigation > button:hover {
    filter: invert(0.2);
}

.navigation > button > img {
    width: 100%;
    height: 100%;
}

.movies__type {
    align-items: flex-start;
    gap: 30px;
}

.type__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

.type__item {
    position: relative;
    width: 240px;
    height: 360px;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.type__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.type__item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    border-radius: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.type__item-info > a {
    font-size: 20px;
    color: #FFF;
}

a {
    text-decoration: none;
}

.admin-link {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

form {
    width: 90%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 80px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    margin: 50px 0;
}

form > h2 {
    font-size: 28px;
}

.form-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

form > input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #c8c8d5;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 3px solid var(--inputBorder);
}

form > input::placeholder {
    color: #c8c8d5;
}

form > input:focus {
    outline: 0;
}

form > button {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: var(--activeColor);
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
}

form > button:hover {
    background-color: var(--hoverActiveColor);
}

form #description {
    height: 100px;
    resize: none;
}

.list {
    font-size: 28px;
    color: #FFFFFF;
}

/* Подробнее о филмье */

.movie {
    max-width: 1240px;
}

.movie__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.movie__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.movie__poster {
    width: 300px;
    height: 450px;
}

.movie__poster > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie__info {
    width: 950px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.movie__title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.movie__title > h3 {
    max-width: 600px;
    font-size: 42px;
}

.movie__rating {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.movie__rating > div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.movie__rating > div > img {
    width: auto;
    height: 45px;
}

.movie__rating > div > span {
    font-size: 32px;
}

.movie__about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.movie__about span {
    font-size: 28px;
}

.movie__about td {
    font-size: 24px;
    color: #c8c8d5;
}

.movie__about td:nth-child(1) {
    width: 280px;
    height: auto;
    padding: 15px 0;
}

.movie__actions {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.movie__actions a {
    width: auto;
    height: auto;
}

.movie__actions button {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 8px 20px;
    font-size: 24px;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
}

.movie__viewed {
    background: var(--activeColor);
}

.movie__viewed:hover {
    background: var(--hoverActiveColor);
}

.movie__favorite {
    background: #33b337;
}

.movie__favorite:hover {
    background: #2a972e;
}

.movie__description {
    width: 100%;
    height: auto;
}

.movie__description > p {
    font-size: 20px;
}

/* Страница профиля */

.profile {
    width: 100%;
    max-width: 960px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
}

.profile > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile__info {
    width: 100%;
    max-width: 740px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.profile__input {
    width: 360px;
    height: 60px;
    font-size: 24px;
    color: #c8c8d5;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 3px solid var(--inputBorder);
}

.profile__btn {
    cursor: pointer;
    width: auto;
    height: 40px;
    padding: 5px 20px;
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--activeColor);
    transition: all 200ms ease-in-out;
}

.profile__btn:hover {
    background-color: var(--hoverActiveColor);
}

footer {
    width: 100%;
    min-height: 80px;
    height: auto;
    padding: 20px 0;
    background-color: var(--templatesBackground);
}
